/* style.css */
:root {
  --page: #0a2647;
  --tile: #489ce6;
  --background: #205295;
  --border: #2c74b3;
  --text: #fff;

  --page-temp: #fff;
  --tile-temp: #fff;
  --background-temp: #eee;
  --border-temp: #ccc;
  --text-temp: #000;
}

body {
  font-family: sans-serif;
  background-color: var(--page);
  color: var(--text);
}

h1 {
  text-align: center;
}

#board {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border: 1px solid var(--border);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  background-color: var(--background);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: default;
}

.cell.revealed {
  background-color: var(--tile);
}

.cell.flagged {
  background-color: var(--background);
}

#controls {
  text-align: center;
  margin: 20px 0;
}

span {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
}

button,
select,
span,
input {
  color: var(--text);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--border);
  box-sizing: border-box;
  background-color: var(--background);
  font-size: 20px;
  text-align: center;
}

input {
  width: 80px;
}

label {
  padding: 5px 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

#darkmode {
  position: sticky;

  left: 15px;
  bottom: 15px;

  width: 40px;
  height: 40px;
}
